/*========================
Nates Code
=========================*/
.hide{
display: none!important;
}
.show{
display: block!important;
position: relative;
z-index: 90000;
}
.clearfix{
content: "";
/* overflow: auto; */
clear: both;
}
html,body{
box-sizing: border-box;
}
/*---=== Mobile ===---*/
/* wrapper */
.wrapper{
z-index: 1;
background: #fff;
overflow: hidden;
}
.press-faq-container{
background-image: url('../img/body-background.png');
background-position: right center;
background-repeat: no-repeat;
}
.rest-con-container{
background-image: url('../img/contact-section-background.png');
background-position: right;
background-repeat: no-repeat;
background-size: contain;
}
/* hero */
.hero{
background: url("../img/hero_background.png") center/cover;
width: 100%;
height: 830px;
box-shadow: inset 0px 0px 0px 1280px rgba(0, 0, 0, 0.15);
display: inline-block;
}
.logo{
display: block;
max-width: 125px;
margin: 0 auto;
}
.logo-link{
display: block;
margin: 30px auto 0 auto;
max-width: 300px;
}
/* navigation */
.toggle-button{
position: absolute;
top: 30px;
left: 15px;
background: rgba(0,0,0, .0);
border: none;
}
.bar{
display: block;
width: 35px;
height: 3px;
background: #EBEBEB;
margin: 6px 0;
}
.nav-menu{
padding: 0;
}
.menu-container{
display: block;
position: relative;
z-index: 20000;
background-color: rgba(0, 0, 0, 0.8);
padding: 10px;
}
.menu-item{
display: block;
width: 100%;
margin: 20px auto;
text-align: center;
padding: 0;
}
.menu-link{
color: #BB5514;
color: #fff;
padding: 0;
text-decoration: none;
}
.menu-link em{
text-transform: uppercase;
}
.hero-address{
color: #000;
position: absolute;
z-index: 1;
top: 400px;
left: 15px;
}
/* about */
.about-pic{
display: block;
max-width: 100px;
margin: 0 auto;
}

/* menus */
.menus-list-container{
margin: -275px auto 0 auto;
max-width: 70%;
position: relative;
/* top: -275px; */
z-index: 60000;

}
.menus-heading{
color: #ffffff;
font-size: 48pt;
margin: 0;
padding: 0;
font-weight: 500;
line-height: .71;
padding-left: 15px;
}
.menus-list{
background-color: rgba(0, 0, 0, 0.85);
padding: 10px 10px 25px 10px;
margin: 0;
box-shadow: 3px 2px 20px 8px rgba(0, 0, 0, 0.24);
}
.menus-list li {
text-transform: lowercase;
list-style-type: none;
border-bottom: solid 1px #ebebeb;
max-width: 90%;
margin: 0 auto;
color: #BB5514;
padding: 15px 0 0 0;
font-size: 18pt;
font-weight: 100;
}
/* press */
.press-section{
margin-top: -5.9%;
width: 100%;
padding: 20px;
position: relative;
z-index: 1;
}
.press-body{
padding: 0;
}
.press-heading{
font-size: 76pt;
color: #000;
font-weight: 500;
padding: 0;
margin: 0 0 15px 0;
padding-top: 50px;
}
.archive-heading{
color: #BB5514;
font-weight: 100;
font-size: 12pt;
text-transform: uppercase;
}
.archive-description{
font-size: 12pt;
font-weight: 500;
color: #000;
}
/* press-pic section */
.press-pic-section{
width: 100%;
}
.press-pic-container{
background: #000;
border: solid 10px #000;
padding: 0;
}
.press-pic{
max-width: 250px;
height: 250px;
margin: 5px;
background-size: cover;
background-repeat: no-repeat;
}
.p-topleft{
background-image: url('../img/press-pic-topleft.png');
}
.p-bottomleft{
background-image: url('../img/press-pic-bottomleft.png');
}
.p-topright{
background-image: url('../img/press-pic-topright.png');
}
.p-bottomright{
background-image: url('../img/press-pic-bottomright.png');
}
.p-topleft{
margin: 0 auto;
max-width: 90%;
min-height: 90%;
}
.p-bottomleft, .p-topright, .p-bottomright{
display: none;
}
/* about */
.about-secction{
background-position: right;
background-size: 500px;
}
/* faq */
.faq-section{
padding: 20px;
}
.faq-heading{
font-size: 72pt;
font-weight: 500;
margin: 50px 0 0 0;
}
.faq-content h3{
color: #BB5514;
font-weight: 500;
}
.faq-description{
color: #000;
}
.directions{
max-width: 250px;
background: rgba(186, 84, 21, 0.9);
margin: 0 auto;
padding: 20px;
position: relative;
z-index: 10000;
top: 100px;
box-shadow: 3px 2px 20px 8px rgba(0, 0, 0, 0.24);
}
.directions h2{
font-weight: 500;
font-size: 22pt;
margin: 0;
}
.directions em {
display: block;
padding: 5px 0 5px 0;
letter-spacing: 1px;
line-height: 1.4;
}
.from{
color: #fff;
}
/* about */

.about-section{
position: relative;
z-index: 1;
padding: 20px;
background-image: url('../img/about-pic.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
box-shadow: inset 100px 100px 0px 1280px rgba(0, 0, 0, 0.20);
height: 1700px;
}
.about-heading{
color: #BB5514;
color: #ea7f3a;
margin-top: 300px;
font-size: 68pt;
font-weight: 500;
letter-spacing: 8px;
}
.about-section p{
color: #fff;
max-width: 85%;
font-weight: 100!important;
line-height: 2;
letter-spacing: 1px;
}
/* restaurants */
.rest-section{
padding: 20px;
}
.rest-section h2{
color: #BB5514;
font-weight: 100;
text-transform: uppercase;
}
.rest-section a {
color: #BB5514;
}
/* contact */
.contact-section{
padding: 20px;
}
.contact-heading{
font-size: 52pt;
font-weight: 500;
text-align: center;
}
.google-map{
display: block;
width: 100%;
margin: 0 auto;
background-image: url('../img/google_map.png');
background-size: cover;
background-position: center;
}
.social h2{
display: block;
font-size: 14pt;
max-width: 50%;
position: relative;
top: 65px;
font-weight: 500;
}
.social-list{
padding: 0;
float: right;
max-width: 50%;
}
.social-li{
display: inline-block;
vertical-align: top;
width: 35px;
height: 35px;
margin-right: 10px;
}
.social-link{
display: inline-block;
width: 100%;
height: 100%;
}
.facebook{
background: url('../img/facebook.png') center/cover;
}
.twitter{
background: url('../img/twitter.png') center/cover;
}
.instagram{
background: url('../img/instagram.png') center/cover;
}
/* footer */
.footer{
display: inline-block;
width: 100%;
background: #000;
height: 55px;
}
.footer p{
color: #fff;
font-size: 10pt;
text-align: center;
font-weight: 100;
margin-top: 20px;
}
/* phablet */
@media screen and (min-width: 420px){
/* press pic section */
.press-pic-container{
max-width: 350px;
margin: 0 auto;
box-shadow: 3px 2px 20px 8px rgba(0, 0, 0, 0.24);
}
.directions{
max-width: 80%;
}
}
/*---=== Tablet ===---*/

@media screen and (min-width: 768px){
/* hero */
.logo{
max-width: 200px;
}
/* press */
.press-heading{
padding-left: 75px;
}
.press-body{
max-width: 600px;
margin: 0 auto;
}
/* press pic */
.press-pic-container{
max-width: 80%;
margin: 0 auto;
}
.p-topleft{
margin: 0;
}
.press-pic{
margin: 0;
}
.p-bottomleft, .p-topright, .p-bottomright{
display: block;
}
.press-pic{
max-width: 95%;
min-height: 45%;
background-position: center top;
}
.p-topleft, .p-bottomleft{
margin: 15px auto;
}
.p-topright, .p-bottomright{
margin: 15px auto;
}

/* faq */
.faq-section{
padding: 60px;	
}
.faq-content-col{
max-width: 43%;
margin: 0 auto;
}
.faq-content{
margin-top: 25px;
}
.directions{
max-width: 100%;
position: relative;
top: 350px;
}
/* restaurants */
.rest-section{
padding: 60px;
}
.contact-section{
padding: 60px;
}
/* about */
.about-section{
background-position: center top;
height: 1100px;
padding-bottom: 60px;
}
.about-heading{
margin-top: 400px;
}

/* contact */
.contact-heading{
text-align: left;
font-size: 62pt;
}
.contact-col{
max-width: 45%;
margin: 0 auto;
}
/*---=== Desktop ===---*/

@media screen and (min-width: 1024px){
/* hero */
.hero{
background: url('../img/hero-background-desktop.png');
background-position: center;
background-size: cover;
}
.hero-address{
position: absolute;
top: 10px;
left: 14px;
color: #fff;
font-weight: 100;
}
/* navigation */
.toggle-button{
display: none;
}
.menu-item{
display: inline-block;
width: auto;
padding: 3px;
margin: 0 17px;
}
.menu-item a{
color: #ebebeb;
font-weight: 100;
letter-spacing: 1px;
}
.menu-container{
display: block!important;
margin-top: 200px;
}
.nav-menu{
max-width: 850px;
margin: 0 auto;
}
/* menus */
.menus-list-container{
width: 300px;
position: absolute;
top: 855px;
left: 80px;
}
.menus-list li{
font-size: 24pt;	
}
/* press */
.press-section{
/* padding: 0 80px 30px 80px; */
}
.press-heading{
padding-top: 150px;
}
.section-column{
max-width: 50%;
margin: 0 auto;
}
.archive-heading{
font-size: 20pt;
}
.press-body{
max-width: 800px;
max-width: 85%;
}
.section-column{
max-width: 48%;
margin: 0 auto;
}
/* press pic */
.press-pic {
min-height:  30%;
}
.press-pic-container{
min-height: 400px!important;
}


}
/*---=== Desktop HD ===---*/
@media screen and (min-width: 1200px){
/* navigation */
.nav-menu{
max-width: 900px;
}
.menu-item{
margin: 0 20px;
}
/* press */
.press-section{
margin-top: -15%;
padding: 0 5% 0 5%;
}
.press-body{
margin: 0 auto;
max-width: 95%;
}
.press-heading{
/* padding-left: 45px; */
font-size: 136pt;
padding-top: 300px;
padding-left: 2%;
}
.section-column{
max-width: 45%;
margin: 0 20px 0 20px;
}
/* press pic section */
.press-pic-container{
margin-top: 150px;
height:800px;
}
.press-pic{
height: 48%;
}
/* faq */
.faq-section{
padding: 135px;
}
.faq-heading{
padding-left: 30px;
font-size: 136pt!important;
}

.directions{
max-width: 380px;
top:300px;
}


.directions h2{
font-size: 26pt;
}
/* about */
.about-section{
padding-left: 135px;
height: auto;
}
.about-heading{
font-size: 136pt;
}
.about-section p {
max-width: 45%;
font-size: 20pt;
}
/* restaurants */
.rest-content{
max-width: 90%;
margin: 0 auto;
}
/*
.rest-content h2 {
font-size: 26pt;
}
.rest-content p {
font-size: 14pt;
}
*/
/* contact */
.contact-section{
padding: 135px;
}
.contact-heading{
font-size: 136pt;
}
.contact-content h4{
font-size: 22pt!important;
}
.contact-content p {
font-size: 14pt;
}
.google-map{
margin-left: 0;
padding-left: 0;
max-width: 450px;
}
.social{
max-width: 65%;
}
.social h2{
font-size: 22pt;
top: 80px;
}
